.sct-mrg {
  max-width: 1300px;
  margin: auto;

  .filter-cards {
    margin-top: 80px;
    width: 100%;
    height: 1200px;
    .section-head {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 40px;
      .section-name {
        h2 {
          font-weight: 900;
          color: #1c1c1c;
          font-size: 30px;
          text-align: center;
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
        h2::after {
          display: inline-block;
          height: 4px;
          width: 80px;
          background: #7fad39;
          content: "";
          margin: 0 auto;
        }
      }
      .filter-list {
        ul {
          display: flex;
          gap: 30px;
          li {
            cursor: pointer;
            color: #1c1c1c;
            font-size: 18px;
            display: flex;
            flex-direction: column;
          }
          li::after {
            display: inline-block;
            height: 2px;
            width: 0%;
            background: #7fad39;
            content: "";
            margin: 0 auto;
            opacity: 1;
            transition: all 500ms;
          }
          li:hover::after {
            width: 100%;
          }
        }
      }
    }
    .card-container {
      display: flex;
      margin-top: 40px;
      flex-wrap: wrap;
      gap: 20px;
      .card {
        margin-bottom: 40px;
        .card-img {
          position: relative;
          .icon {
            position: absolute;
            bottom: 85px;
            left: 65px;
            display: flex;
            gap: 15px;
            font-size: 16px;
            a {
              opacity: 0;
              transition: all 400ms;
              cursor: pointer;
              i {
                color: #1c1c1c;
                height: 40px;
                width: 40px;
                line-height: 40px;
                text-align: center;
                border: 1px solid #ebebeb;
                background: #ffffff;
                display: block;
                border-radius: 50%;
                cursor: pointer;
                transition: all 0.2s;
              }
            }
            a:hover i {
              transform: rotate(360deg);
              color: white;
              background: #7fad39;
            }
          }
        }
        .card-img:hover a {
          opacity: 1 !important;
        }
        .card-info {
          display: flex;
          flex-direction: column;
          align-items: center;
          max-width: 260px;
          gap: 15px;
          .name {
            margin-top: 15px;
          }
          .price {
            font-weight: 900;
          }
        }
      }
    }
  }
}
