* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "Cairo", sans-serif;
}

header {
  background-color: #f5f5f5;
}
header .header-mrg {
  max-width: 1300px;
  margin: auto;
}
header .header-mrg #header {
  height: 50px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-mrg #header .header-info {
  display: flex;
}
header .header-mrg #header .header-info .contact {
  font-size: 14px;
  padding-right: 25px;
  border-right: 1px solid rgba(161, 161, 161, 0.5019607843);
}
header .header-mrg #header .header-info .content {
  font-size: 14px;
  padding-left: 25px;
}
header .header-mrg #header .header-log {
  display: flex;
}
header .header-mrg #header .header-log .soc-icon {
  display: flex;
  gap: 20px;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(161, 161, 161, 0.5019607843);
  font-size: 14px;
}
header .header-mrg #header .header-log .language {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(161, 161, 161, 0.5019607843);
}
header .header-mrg #header .header-log .language img {
  width: 25px;
  height: 15px;
}
header .header-mrg #header .header-log .login {
  font-size: 14px;
}

.nav-mrg {
  max-width: 1300px;
  margin: auto;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  gap: 30px;
}
#nav .logo {
  cursor: pointer;
}
#nav .nav-items ul {
  display: flex;
  gap: 40px;
}
#nav .nav-items ul li a {
  color: black;
  font-weight: bold;
  transition: 300ms;
  font-size: 14px;
}
#nav .nav-items ul li a:hover {
  color: #7fad39;
  font-weight: bold;
}
#nav .nav-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}
#nav .nav-icon .icon {
  display: flex;
  gap: 10px;
  font-size: 18px;
  cursor: pointer;
}
#nav .nav-icon .icon span {
  height: 13px;
  height: 15px;
  width: 15px;
  background: #7fad39;
  font-size: 9px;
  color: #ffffff;
  line-height: 15px;
  text-align: center;
  font-weight: 700;
  display: inline-block;
  border-radius: 50%;
}
#nav .nav-icon .cost {
  font-size: 14px;
  color: #6f6f6f;
}
#nav .nav-icon .cost span {
  color: #252525;
  font-weight: 700;
  padding-top: 10px;
}

.sct-mrg {
  max-width: 1300px;
  margin: auto;
}
.sct-mrg #department-data {
  display: flex;
  max-width: 100%;
  height: 520px;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.sct-mrg #department-data .acordion-div {
  height: 510px;
  width: 292px;
}
.sct-mrg #department-data .acordion-div .acordion {
  height: 510px;
  width: 292px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sct-mrg #department-data .acordion-div .acordion .acrd-btn {
  gap: 11px;
  width: 292px;
  height: 47px;
  background-color: #7fad39;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.sct-mrg #department-data .acordion-div .acordion .list {
  height: 0px;
  overflow: hidden;
  transition: 300ms;
}
.sct-mrg #department-data .acordion-div .acordion .list ul {
  display: grid;
  gap: 20px;
  border: 1px solid #ebebeb;
  padding-left: 55px;
  padding-top: 20px;
  padding-bottom: 12px;
  width: 293px;
  height: 450px;
}
.sct-mrg #department-data .acordion-div .acordion .listtgl {
  height: 450px;
}
.sct-mrg #department-data .department {
  width: 871px;
  height: 512px;
}
.sct-mrg #department-data .department .search-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sct-mrg #department-data .department .search-conteiner .search {
  width: 610px;
  height: 50px;
  border: 1px solid #ebebeb;
  margin-bottom: 30px;
}
.sct-mrg #department-data .department .search-conteiner .search form {
  display: flex;
}
.sct-mrg #department-data .department .search-conteiner .search form .categor {
  width: 30%;
  font-size: 14px;
  color: #1c1c1c;
  font-weight: 800;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sct-mrg #department-data .department .search-conteiner .search form .categor i {
  font-size: 14px;
}
.sct-mrg #department-data .department .search-conteiner .search form input {
  width: 70%;
  border: none;
  height: 48px;
  font-size: 16px;
  color: #b2b2b2;
  padding-left: 20px;
  border-left: 1px solid #ebebeb;
  outline: none;
}
.sct-mrg #department-data .department .search-conteiner .search form button {
  font-size: 12px;
  color: #ffffff;
  font-weight: 800;
  display: inline-block;
  padding: 13px 20px 12px;
  background: #7fad39;
  border: none;
  cursor: pointer;
}
.sct-mrg #department-data .department .search-conteiner .support {
  display: flex;
  align-items: center;
  gap: 20px;
}
.sct-mrg #department-data .department .search-conteiner .support .phone-icon {
  font-size: 18px;
  color: #7fad39;
  height: 50px;
  width: 50px;
  background: #f5f5f5;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
}
.sct-mrg #department-data .department .search-conteiner .support .phone-number h3 {
  font-weight: 900;
  margin-bottom: 5px;
  font-size: 16px;
}
.sct-mrg #department-data .department .search-conteiner .support .phone-number span {
  font-size: 14px;
  color: #6f6f6f;
}
.sct-mrg #department-data .department .products {
  height: 431px;
  display: flex;
  align-items: center;
  padding-left: 75px;
  background-image: url("https://preview.colorlib.com/theme/ogani/img/hero/banner.jpg.webp");
}
.sct-mrg #department-data .department .products .info .info-head {
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 4px;
  color: #7fad39;
}
.sct-mrg #department-data .department .products .info h2 {
  font-size: 40px;
  line-height: 52px;
  font-weight: 900;
  margin: 10px 0;
}
.sct-mrg #department-data .department .products .info .info-bottom {
  font-size: 16px;
  color: #6f6f6f;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 35px 0;
}
.sct-mrg #department-data .department .products .info a {
  display: inline-block;
  font-size: 14px;
  padding: 12px 26px;
  color: white;
  font-weight: 900;
  background: #7fad39;
  letter-spacing: 2px;
}

#slider-card {
  max-width: 1300px;
  margin: auto;
}
#slider-card .cards-section {
  display: flex;
  align-items: center;
}
#slider-card .cards-section i {
  font-size: 12px;
  color: #1c1c1c;
  height: 70px;
  width: 100px;
  line-height: 70px;
  text-align: center;
  border: 1px solid #ebebeb;
}
#slider-card .cards-section .card {
  width: 270px;
  height: 250px;
  margin: 10px;
  position: relative;
}
#slider-card .cards-section .card img {
  width: 100%;
}
#slider-card .cards-section .card .text {
  position: absolute;
  left: 40%;
  bottom: 0px;
}
#slider-card .cards-section .card .text p {
  font-size: 28px;
}/*# sourceMappingURL=style.css.map */